<h3> ITS A DASHBOARD </h3>
<% options = {:width => 100, :height => 100} %>
<%= pie_chart @shape_chart, options %>

<ol>
  Sightings by Country
  <% @country_counts.each do |country, count| %>
  <li> Country: <%= country %>, <%= count %> </li>
  <% end %>
</ol>

<ol>
  Sightings by US city
  <% @city_counts.each do |city, count| %>
  <li> City: <%= city %>, <%= count %>  </li>
  <% end %>
</ol>

<ol>
  Sightings by US state
  <% @state_counts.each do |state, count| %>
  <li> State: <%= state %>, <%= count %> </li>
  <% end %>
</ol>

<%= line_chart @shape_data %>

<ol>
  Sightings by year
  <% @sightings_by_year.each do |date, count| %>
  <li> Year: <%= date.year %>, <%= count %> </li>
  <% end %>
</ol>
