<h3> ITS A DASHBOARD </h3>

<%= link_to 'Total sightings by US state', states_path %> <br />
<%= link_to 'Total sightings per capita by US state', per_capita_by_state_path %> <br />
<%= link_to 'Sightings by country', countries_path %> <br />
<%= link_to 'Sightings by year', years_path %> <br />
<%= link_to 'Sightings by US city', cities_path %> <br />
<%= link_to 'Total sightings by reported shape', shapes_path %> <br />


<br />
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Shape count by state</button>
  <div id="myDropdown" class="dropdown-content">
    <% @shapes.each do |shape| %>
    <a href='<%= shape_by_state_path(shape: shape) %>'><%= shape %></a>
    <%end%>
  </div>
</div>
