<h3> ITS A DASHBOARD </h3>

<%= pie_chart @shape_chart %>
<%= bar_chart @country_chart %>
<%= horizontal_bar_chart @city_chart %>
<%= horizontal_bar_chart @state_chart %>
<%= horizontal_bar_chart @year_chart %>
