<article>
<%= link_to 'Total sightings by US state', states_path, class: "dropbtn" %> <br />
<%= link_to 'Total sightings per capita by US state', per_capita_by_state_path, class: "dropbtn" %> <br />
<%= link_to 'Sightings by country', countries_path, class: "dropbtn" %> <br />
<%= link_to 'Sightings by year', years_path, class: "dropbtn" %> <br />
<%= link_to 'Sightings by US city', cities_path, class: "dropbtn" %> <br />
<%= link_to 'Total sightings by reported shape', shapes_path, class: "dropbtn" %> <br />
<%= link_to 'Sightings by hour of day', by_time_of_day_path, class: "dropbtn" %> <br />
<%= link_to 'Top five days of total reports', top_five_dates_path, class: "dropbtn" %> <br />
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Shape count by state</button>
  <div id="myDropdown" class="dropdown-content">
    <% @shapes.each do |shape| %>
    <a href='<%= shape_by_state_path(shape: shape) %>'><%= shape %></a>
    <%end%>
  </div>
</div>
</article>
