<h3> ITS A DASHBOARD </h3>

<%= link_to 'Sightings by US state', states_path %> <br />
<%= link_to 'Sightings by country', countries_path %> <br />
<%= link_to 'Sightings by year', years_path %> <br />
<%= link_to 'Sightings by US city', cities_path %> <br />
<%= link_to 'Total sightings by reported shape', shapes_path %>
