<ul>
  <li> Sighting Info for sighting # <%= @sighting.id %><li>
    <ul> Location <%= @sighting.location %> </ul>
    <ul> Date and Time: <%= @sighting.date_posted %> </ul>
    <ul> Duration <%= @sighting.duration_in_seconds %> </ul>
    <ul> Lat/long <%= "#{@sighting.latitude}, #{@sighting.longitude}" %> </ul>
  <li> Craft Info</li>
    <ul> Craft Shape: <%= @sighting.shape %> </ul>
  <li> Comments:  </li>
    <ul> <%= @sighting.comments %> </ul>
</ul>
