<!DOCTYPE html>
<html>
  <head>
    <title>Aliens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


<body id="index" class="home">
</body>
</html>

  <header class=eqi-container>
    <%= link_to 'Analysis Dashboard', :dashboard %>

    <%= link_to 'Total Sightings', :total_sightings_map %>

    <%= link_to 'Total Sightings Per Capita', :per_capita_map %>

    <%= link_to 'Random sighting comments', :comments %>
  </header>


  <body>
    <%= yield %>
  </body>

  <script>

  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
</html>
